#ocnMenu {
    margin: 0 0 1rem 0;
}

#errorMsg {
    white-space: pre-wrap
}

code {
    white-space: pre-line;
}

#overrides {
    font-family: monospace;
}

#templateHint {
    text-align: right;
    display: block;
}

#titleInput {
    width: 100%;
    height: 2em;
}

.ui.sidebar {
    overflow: visible !important;
}

.scrolledTable{
    overflow-y: auto;
    clear:both;
}

.ui.centered.grid {
    padding: 1em;
}

.moreResultsButton {
    margin-bottom: 1em;
    width: 100%;
}

.ui.card {
    color: #222222;
}

.ui.card.folder {
    background-color: #EEEEEE;
}

.ui.table {
    width: 99.5%;  /* Because a border with overflow-y:auto causes a tiny scrollbar */
}

.ui.inverted.dropdown .item {
    color: white;
}

.buttontd {
    text-align: center !important;
}

td button i {
    margin: 0 !important;
}

#usernameInfo {
    margin-left: 0.5em;
}

#versionTitle {
    width: 3em;
    display: none;
}

#resultsContainer {
    width: 100%;
}

.resultsHomepage {
    display: flex;
    width: 100%;
}

.leftResult {
    flex: 80;
}

.rightResult {
    flex: 20;
    text-align: right;
    margin-right: 1em;
    margin-left: 3px;
    max-width: 280px;  /* Enough to show full job id */
}

.folderImg {
    margin-right: 10px;
}

#folderNavigationPanel {
    margin-bottom: 1em;
}

.resultHeader {
    margin-left: 1em !important;
}

#resultsIframe {
    height: 100%;
}