{% import "header.html" as header %}

{{ header.notebookerHeader(readonly_mode, scheduler_disabled) }}

<html>
<head>
    <script type="application/javascript" src="{{ url_for('static', filename='notebooker/index.js') }}"></script>
</head>
<body>

    {{ header.sidebar(all_reports) }}
    <span id="failedLoad" style="display: none;">
        <h2>Couldn't load any reports!</h2>
        Either we haven't run any reports yet, or you don't have permission to view any on this Notebooker
        instance. Please check with the instance admin.
    </span>
    <div class="ui centered grid" id="cardGrid">
        <div class="fifteen wide centered column">
            <div id="folderNavigationPanel"></div>
            <div class="ui cards" id="cardContainer">
                <div class="ui loading card">
                    <div class="content">
                        <h1>Loading...</h1>
                        <span>Results are coming soon...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
